/**
 * CSS Floatparts
 * https://github.com/nabeix/css-floatparts
 */

/* modal and dialog */
.fp-modal {
  display: none;
  z-index: 9999;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.fp-modal .content {
  display: inline-block;
  opacity: 0;
  background-color: #fff;
  position: relative;
  margin: 0 auto;
  min-width: 100px;
  max-width: 90%;
  min-height: 100px;
  border-radius: 4px;
  box-shadow: 0 1px 8px rgba(0 ,0 ,0 , .8);
  text-align: left;
}

.fp-modal .content > .header {
  background-color: #f0f0f0;
  padding: 3px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.fp-modal .content .footer {
  padding: 3px;
}

.fp-modal .content .header h1,
.fp-modal .content .header h2,
.fp-modal .content .header h3 {
  margin: 0px;
}

.fp-modal .content .body {
  padding: 3px;
}

@keyframes show-animation {
  from {
    opacity: 0;
    top: -20%;
  }
  to {
    opacity: 1;
    top: 20%;
  }
}

.fp-modal.fp-show {
  display: block;
}


.fp-modal.fp-show .content {
  animation: show-animation .4s ease .0s;
  animation-fill-mode: forwards;
}

/* dialog */
.fp-dialog {
  display: none;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100px;
  max-width: 90%;
  min-height: 100px;
  border-radius: 4px;
  box-shadow: 0 1px 8px rgba(0 ,0 ,0 , .8);
}

.fp-dialog > .header {
  background-color: #f0f0f0;
  padding: 3px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.fp-dialog .header h1,
.fp-dialog .header h2,
.fp-dialog .header h3 {
  margin: 0px;
}

.fp-dialog .body {
  padding: 3px;
}

.fp-dialog .footer {
  padding: 3px;
}

.fp-dialog.fp-show {
  display: block;
}

/* tooltip */
.fp-tooltip {
}
