/*!
 * CSS Floatparts
 * https://github.com/nabeix/css-floatparts
 */

// variables

$modal-bg: rgba(0, 0, 0, .5);

$content-bg: #fff;
$content-top-position: 20%;
$content-padding: 5px 8px;
$content-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.3), 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
$content-min-width: 300px;
$content-max-width: 90%;
$content-min-height: 50px;

$default-animation: animation-slide-down .4s ease .0s;

/* animations */

@keyframes animation-slide-down {
  from {
    opacity: 0;
    top: -20%;
  }
  to {
    opacity: 1;
    top: $content-top-position;
  }
}

@keyframes animation-slide-up {
  from {
    opacity: 0;
    top: 120%;
  }
  to {
    opacity: 1;
    top: $content-top-position;
  }
}

@keyframes animation-slide-left-in {
  from {
    opacity: 0;
    left: -20%
  }
  to {
    opacity: 1;
    left: 50%;
  }
}

@keyframes animation-slide-right-in {
  from {
    opacity: 0;
    left: 120%
  }
  to {
    opacity: 1;
    left: 50%;
  }
}

// placeholder

%content-base {
  position: absolute;
  background-color: $content-bg;
  box-shadow: $content-box-shadow;
  opacity: 0;
  width: 50%;
  height: auto;
  left: 50%;
  top: $content-top-position;
  transform:translate(-50%, -$content-top-position);
  min-width: $content-min-width;
  max-width: $content-max-width;
  min-height: $content-min-height;
}

/* modal */

.fp-modal {
  display: none;
  z-index: 9999;
  position: fixed;
  background-color: $modal-bg;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .content {
    @extend %content-base;

    > .header,
    > .body,
    > .footer {
      padding: $content-padding;
    }

    > .header {
      > h1,
      > h2,
      > h3 {
        margin: 0px;
      }
    }
  }

  &.fp-show {
    display: block;
  }

  &.fp-show .content {
    animation: $default-animation;
    animation-fill-mode: forwards;
  }
}

/* dialog */

.fp-dialog {
  @extend %content-base;
  display: none;

  > .header,
  > .body,
  > .footer {
    padding: $content-padding;
  }

  > .header {
    > h1,
    > h2,
    > h3 {
      margin: 0px;
    }
  }

  &.fp-show {
    display: block;
    opacity: 1;
    animation: $default-animation;
    animation-fill-mode: forwards;
  }
}

.fp-show {
  &.fp-animation-none {
    animation-name: none;
  }
  &.fp-animation-slide-left-in {
    animation-name: animation-slide-left-in;
  }

  &.fp-animation-slide-right-in {
    animation-name: animation-slide-right-in;
  }

  &.fp-animation-slide-up {
    animation-name: animation-slide-up;
  }
}
