/*!
 * CSS Floatparts
 * https://github.com/nabeix/css-floatparts
 */

// variables

$modal-bg: rgba(0, 0, 0, .5);

$content-bg: #fff;
$content-top-position: 20%;
$content-padding-top-bottom: 5px;
$content-padding-left-right: 8px;
$content-padding: $content-padding-top-bottom $content-padding-left-right;
$content-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.3), 0px 10px 25px 0px rgba(0, 0, 0, 0.25);
$content-min-width: 300px;
$content-max-width: 90%;
$content-min-height: 50px;

$modal-background-animation: animation-fade-in .3s ease .0s;
$default-content-animation: animation-slide-down .4s ease .0s;

$tooltip-padding-top-bottom: 5px;
$tooltip-padding-left-right: 8px;
$tooltip-padding: $tooltip-padding-top-bottom $tooltip-padding-left-right;
$tooltip-offset-x: $tooltip-padding-left-right * 2;
$tooltip-border-radius: 3px;
$tooltip-arrow-height: 8px;
$tooltip-background: rgba(0, 0, 0, 0.9);
$tooltip-color: #fff;
$tooltip-inverse-background: rgba(255, 255, 255, 0.9);
$tooltip-inverse-color: #000;

// animations

@keyframes animation-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animation-slide-down {
  from {
    opacity: 0;
    top: -20%;
  }
  to {
    opacity: 1;
    top: $content-top-position;
  }
}

@keyframes animation-slide-up {
  from {
    opacity: 0;
    top: 120%;
  }
  to {
    opacity: 1;
    top: $content-top-position;
  }
}

@keyframes animation-slide-left-in {
  from {
    opacity: 0;
    left: -20%
  }
  to {
    opacity: 1;
    left: 50%;
  }
}

@keyframes animation-slide-right-in {
  from {
    opacity: 0;
    left: 120%
  }
  to {
    opacity: 1;
    left: 50%;
  }
}

// placeholder

%content-base {
  position: absolute;
  background-color: $content-bg;
  box-shadow: $content-box-shadow;
  opacity: 0;
  width: 50%;
  height: auto;
  left: 50%;
  top: $content-top-position;
  transform:translate(-50%, -$content-top-position);
  min-width: $content-min-width;
  max-width: $content-max-width;
  min-height: $content-min-height;
  z-index: 10000;
}

// modal

.flp-modal {
  display: none;
  z-index: 9999;
  position: fixed;
  background-color: $modal-bg;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

  .content {
    @extend %content-base;

    > .header,
    > .body,
    > .footer {
      padding: $content-padding;
    }

    > .header {
      > h1,
      > h2,
      > h3 {
        margin: 0px;
      }
    }
  }

  &.flp-show {
    display: block;
    animation: $modal-background-animation;
    animation-fill-mode: forwards;
  }

  &.flp-show .content {
    animation: $default-content-animation;
    animation-fill-mode: forwards;
  }
}

/* dialog */

.flp-dialog {
  @extend %content-base;
  display: none;

  > .header,
  > .body,
  > .footer {
    padding: $content-padding;
  }

  > .header {
    > h1,
    > h2,
    > h3 {
      margin: 0px;
    }
  }

  &.flp-show {
    display: block;
    opacity: 1;
    animation: $default-content-animation;
    animation-fill-mode: forwards;
  }
}

// flp-show and flp-animation

.flp-show {
  &.flp-animation-none {
    &.flp-dialog,
    &.flp-modal > .content {
      animation-name: none;
    }
  }

  &.flp-animation-slide-left-in {
    &.flp-dialog,
    &.flp-modal > .content {
      animation-name: animation-slide-left-in;
    }
  }

  &.flp-animation-slide-right-in {
    &.flp-dialog,
    &.flp-modal > .content {
      animation-name: animation-slide-right-in;
    }
  }

  &.flp-animation-slide-up {
    &.flp-dialog,
    &.flp-modal > .content {
      animation-name: animation-slide-up;
    }
  }
}

// tooltip

%tooltip-base {
  display: none;
  position: absolute;
  padding: $tooltip-padding;
  border-radius: $tooltip-border-radius;
  background-color: $tooltip-background;
  color: $tooltip-color;
  top: 0px;
  left: 0px;

  &.flp-inverse {
    background-color: $tooltip-inverse-background;
    color: $tooltip-inverse-color;
  }
}

%tooltip-arrow-base {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
}

%tooltip-arrow-down {
  @extend %tooltip-arrow-base;
  margin-left: -$tooltip-arrow-height;
  bottom: -$tooltip-arrow-height;
  border-color: $tooltip-background transparent transparent transparent;
  border-width: $tooltip-arrow-height $tooltip-arrow-height 0 $tooltip-arrow-height;
  &.flp-inverse {
    border-color: $tooltip-inverse-background transparent transparent transparent;
  }
}

%tooltip-arrow-up {
  @extend %tooltip-arrow-base;
  margin-left: -$tooltip-arrow-height;
  top: -$tooltip-arrow-height;
  border-color: transparent transparent $tooltip-background transparent;
  border-width: 0 $tooltip-arrow-height $tooltip-arrow-height $tooltip-arrow-height;
  &.flp-inverse {
    border-color: transparent transparent $tooltip-inverse-background transparent;
  }
}

%tooltip-arrow-left {
  @extend %tooltip-arrow-base;
  left: -$tooltip-arrow-height;
  border-color: transparent $tooltip-background transparent transparent;
  border-width: $tooltip-arrow-height $tooltip-arrow-height $tooltip-arrow-height 0;
  &.flp-inverse {
    border-color: transparent $tooltip-inverse-background transparent transparent;
  }
}

%tooltip-arrow-right {
  @extend %tooltip-arrow-base;
  right: -$tooltip-arrow-height;
  border-color: transparent transparent transparent $tooltip-background;
  border-width: $tooltip-arrow-height 0 $tooltip-arrow-height $tooltip-arrow-height;
  &.flp-inverse {
    border-color: transparent transparent transparent $tooltip-inverse-background;
  }
}

// tooptip on top
.flp-tooltip-top {
  @extend %tooltip-base;
  transform: translate(-50%, -100%);
  margin-top: -$tooltip-arrow-height;
  left: 50%;
}

.flp-tooltip-top-left {
  @extend %tooltip-base;
  transform: translateY(-100%);
  margin-top: -$tooltip-arrow-height;
}

.flp-tooltip-top-right {
  @extend %tooltip-base;
  transform: translate(-100%, -100%);
  margin-top: -$tooltip-arrow-height;
  left: 100%;
}

.flp-tooltip-top:before {
  @extend %tooltip-arrow-down;
  left: 50%;
}

.flp-tooltip-top-left:before {
  @extend %tooltip-arrow-down;
  left: $tooltip-offset-x;
}

.flp-tooltip-top-right:before {
  @extend %tooltip-arrow-down;
  right: $tooltip-offset-x;
}

// tooltip on bottom
.flp-tooltip-bottom {
  @extend %tooltip-base;
  transform: translateX(-50%);
  top: 100%;
  left: 50%;
  margin-top: $tooltip-arrow-height;
}

.flp-tooltip-bottom-left {
  @extend %tooltip-base;
  top: 100%;
  margin-top: $tooltip-arrow-height;
}

.flp-tooltip-bottom-right {
  @extend %tooltip-base;
  transform: translateX(-100%);
  top: 100%;
  left: 100%;
  margin-top: $tooltip-arrow-height;
}

.flp-tooltip-bottom:before {
  @extend %tooltip-arrow-up;
  left: 50%;
}

.flp-tooltip-bottom-left:before {
  @extend %tooltip-arrow-up;
  left: $tooltip-offset-x;
}

.flp-tooltip-bottom-right:before {
  @extend %tooltip-arrow-up;
  right: $tooltip-offset-x;
}

// tooltip on right
.flp-tooltip-right {
  @extend %tooltip-base;
  transform: translateY(-50%);
  top: 50%;
  left: 100%;
  margin-left: $tooltip-arrow-height;
}

.flp-tooltip-right:before {
  @extend %tooltip-arrow-left;
  top: $tooltip-arrow-height;
}

// tooltip on left
.flp-tooltip-left {
  @extend %tooltip-base;
  transform: translate(-100%, -50%);
  top: 50%;
  left: -$tooltip-arrow-height;
}

.flp-tooltip-left:before {
  @extend %tooltip-arrow-right;
  top: $tooltip-arrow-height;
}

// tooltip holder
.flp-tooltip-holder {
  position:relative;
}

.flp-tooltip-holder:hover {
  %tooltip-base {
    display: inline-block;
  }
}
